body{
background:#0d1117;
}

.card{
border:none;
border-radius:20px;
}

h2{
font-weight:700;
}

.btn{
border-radius:10px;
}

.form-control,
.form-select{
border-radius:10px;
}

textarea{
resize:none;
}